{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }} <img src="/img/the-monarch-of-the-glen-1851-sir-edwin-landseer.jpg" alt="Monarch of the Glen - Edwin Landseer (1851)" width = "600" height= "550"> <figcaption><span class="newthought"> Monarch of the Glen - Edwin Landseer (1851) </span></figcaption> </br> {{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
